@import url(styleguide.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff7d4;
  font-family: Poppins;
}

.navbar {
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffd95a;
}

.btn {
  color: #4c3d3d;
  padding-left: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 380px;
  height: 43px;
  border-radius: 10px;
  border: 2px solid #ffd95a;
  text-align: left;
}

.btn:hover {
  background-color: #ffd95a;
  border-radius: 10px;
}

.profile-setting {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.security-setting {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.i {
  padding-right: 50px;
}

.profile {
  padding-top: 40px;
}

input {
  width: 80%;
  height: 5%;
  border: 2px solid #ffd95a;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
  color: #ffd95a;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffd95a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  background-color: #4c3d3d;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #ffd95a;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ffd95a;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.save {
  height: 30px;
  width: 60px;
  background-color: #ffd95a;
  color: #4c3d3d;
  border: none;
  border-radius: 5px;
  float: right;
  margin-right: 20%;
  margin-top: 10%;
}

.verticalLine {
  border-left: thick solid #4c3d3d;
  border-width: 2px;
  float: right;
  color: #fff7d4;
  height: 80%;
  margin-top: -20%;
}